.icon{
    height: 45px;
    width: 45px;
    object-fit: cover;
    filter: drop-shadow(0px 0px 5px #dd0c0c);
    cursor: pointer;
    object-position: center center;
}


.counter{
    color: #fafcfd;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-left: 45px;
    margin-bottom: -20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    background:
            radial-gradient(
                    rgb(72, 226, 16),
                    black
            ),
            repeating-linear-gradient(
                    transparent 0,
                    rgba(0,0,0,.2) 3px,
                    transparent 6px
            );
    background-blend-mode: overlay;
}
